.button-group
    border-radius: 3px
    border: 1px solid #BDBBB9
    font-size: 0.9em

.group-button
    color: black
    border-style: none
    padding: 5px 12px
    cursor: pointer
    outline: none
    transition: background-color 0.3s

    &:not(:last-child)
        border-right: 1px solid #BDBBB9

    &.active
        background-color: #CCE5E7
        border: 1px solid darken(#CCE5E7, 20%)

        &:hover
            background-color: darken(#CCE5E7, 5%)

    &.inactive
        background-color: #fff

        &:hover
            background-color: lighten(#CCE5E7, 5%)

    

    
