.button-group
    border-radius: 3px
    border: 1px solid black
    font-size: 0.9em

    .group-button
        background-color: $accent
        color: $white
        border-style: none
        padding: 5px 12px
        cursor: pointer
        outline: none
        background-color: #fff

    .group-button:not(:last-child)
        border-right: 1px solid black
