$accent: #29cacf
$text: #0f0f0f
$white: #fff
$grey: #ddd

@import url('https://fonts.googleapis.com/css?family=Inter:400')

html
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 1.75
    letter-spacing: 0.2px
    height: 100%
    color: $text
    overflow: hidden
    background-color: #FFFAFA

body
    margin: 0

small, .text_small
    font-size: 0.833rem

p, span, button
    font-size: 1rem

h1
    margin: 0
    font-size: 1.44rem

.row
    display: flex
    align-items: center

.mobile-section
    padding: 1rem
    text-align: center

footer
    position: fixed
    bottom: 0
    left: 0
    width: 100%

@import 'css/Header'
@import 'css/Controls'
@import 'css/LifeBoard'
@import 'css/LifeCell'
@import 'css/ui'
