$accent: #29cacf
$text: #0f0f0f
$white: #fff
$grey: #ddd

@import url('https://fonts.googleapis.com/css?family=Roboto')

html
  font-family: 'Roboto', sans-serif
  font-size: 20px
  letter-spacing: 0.2px
  height: 100%
  color: $text

body
  background: $grey
  margin: 0
//   padding: 0 20px

@import 'css/App'
@import 'css/Header'
@import 'css/Controls'
@import 'css/LifeBoard'
@import 'css/LifeCell'
@import 'components/ui/styles/ButtonGroup'
