$accent: #29cacf
$text: #0f0f0f
$white: #fff
$grey: #ddd

@import url('https://fonts.googleapis.com/css?family=Roboto')

html
    font-family: 'Roboto', sans-serif
    font-size: 14px
    letter-spacing: 0.2px
    height: 100%
    color: $text
    overflow: hidden

body
    margin: 0

h1
    font-size: 2.5rem
    letter-spacing: 0.1rem
    margin: 0

p, span, button
    font-size: 1rem

.row
    display: flex
    align-items: center

@import 'css/Header'
@import 'css/Controls'
@import 'css/LifeBoard'
@import 'css/LifeCell'
@import 'components/ui/styles/ButtonGroup'
@import 'components/ui/styles/Button'
@import 'components/ui/styles/Stat'
